{% extends 'base.html' %}

{% block header %}
{{ dropzone.load_css() }}
{{ dropzone.style('border: 2px dashed #0087F7; margin: 5%; min-height: 200px; min-width: 200px;' ) }}
  <h1>{% block title %}Add cv to count words{% endblock %}</h1>
{% endblock %}
  
{% block content %}

  {{ dropzone.create('/') }}
  {{ dropzone.load_js() }}
  {{ dropzone.config() }}
  
  <button onclick="reload_function()">Get count</button>
  
  {% if session['count'] and session['count'] != 'Incorrect file type' %}
  <div id=here class="flash"><span>CV contains: {{ session['count'] }} words</span></div>
  {% else %}
  <div id=here class="flash"><span>{{ session['count'] }}</span></div>
  {% endif %}
{% endblock %}

<script>
function reload_function() {
  location.reload();
}
</script>
